<div class="top-fixed-header">
    <div class="header-row">
        <div class="nav-icon" [class.fixed]="showNav" (click)="showNav=!showNav">
            <i class="mdi mdi-24px mdi-menu">
            </i>
        </div>
        <div class="title">Incognito</div>
        <div class="actions">
            <i class="mdi mdi-24px mdi-dots-vertical">
            </i>
        </div>
    </div>
</div>
<div class="fixed-navbar container-border " *ngIf="showNav">
    <div class="navbar-content mt-5">
        <ul class="list-items">
            <li class="list-item" *ngFor="let link of links">
                <a class="nav-link">
                    <i [class]="link.icon"></i>
                    {{link.label}}</a>
            </li>
        </ul>
    </div>
</div>