<div class="flex w-100 h-100">
    <!-- <button (click)="call()">Call</button>
    <button (click)="call()">Call</button>
    <button (click)="call()">Call</button>
    <button (click)="call()">Call</button>
    <button (click)="call()">Call</button>
    <button (click)="call()">Call</button>
    <button (click)="call()">Call</button>
    <button (click)="call()">Call</button>
    <button (click)="call()">Call</button> -->

    <div *ngFor="let item of items" (click)="launch(item)">
        <img src="{{item.icon}}" />
    </div>
</div>