html,
body {
	margin: 0;
	padding: 0;
}
/*
body {
	// background-image: url(https://images.unsplash.com/photo-1489846986031-7cea03ab8fd0?ixlib=rb-0.3.5…EyMDd9&s=a6c62b8…&auto=format&fit=crop&w=1600&q=80);
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center top;
	// background-color:#380000;
	display: flex;
	flex-flow: column;
	height: 300px;
}*/

.main {
	flex: 1;
}

.page-footer {
	flex: 0;
}
